body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    font-family: inter;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18rem;
    font-size: 10px;
    position: fixed;
}

img {
    display: flex;
    flex-direction: row;
    height: 113px;
    width: 139px;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    font-size: 2em;
}

nav a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #AA6353;
    font-weight: bolder;
}

header div {
    background-color: #E67F2A;
    color: #ffff;
    height: 47px;
    width: 139px;
    border-radius: 10px;
    text-align: center;
    line-height: 47px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bolder;
}


main {
    margin-left: 100px;
    margin-top: 15em;
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-style: italic;
}

main h1 {
    padding-top: 2em;
    font-size: 6.4em;
}

main h2 {
    font-size: 3.2em;
}

main div .preorder {
    background-color: #E67F2A;
    color: #ffff;
    height: 57px;
    width: 147px;
    border-radius: 10px;
    text-align: center;
    line-height: 57px;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bolder;
    margin-bottom: 20px;
}

main img {
    margin-left: auto;
    display: block;
    margin-right: 20em;
    width: 962px;
    height: 641px;
}

footer .spec {
    margin-left: auto;
    margin-right: 39em;
    margin-bottom: 8.2em;
    display: flex;
    flex-direction: row;
    background-color: #E67F2A;
    color: black;
    height: 111px;
    width: 491px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
}

footer ul {
    margin: auto;
}

span {
    font-weight: bold;
}

h1 span {
    letter-spacing: 20px;
}